.hierarchy-item {
	border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.side-nav {
	display: inline-flex;
	width: 100%;
}
.hierarchy {
	width: 25%;
	padding: 5px;
}
.questions {
	width: 40%;
}
.current {
	background-color: #fee;
}