.hierarchy-item {
	border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.side-nav {
	display: inline-flex;
	width: 100%;
}
.hierarchy {
	width: 25%;
	padding: 5px;
}
.actions a:first-child {
	margin-right: 10px; 
}
.questions {
	width: 40%;
	margin: 10px 0 0 20px;
}
.question {
	margin-bottom: 16px;
    border: 1px solid saddlebrown;
    padding: 10px;
    border-radius: 8px;
}
.skipped-notice {
	float: right;
    padding: 5px;
    background-color: #d9d9f3;
    border-radius: 10px;
}
.current {
	background-color: #d9d9f3;
}
.actions {
	display: inline-flex;
}
.item-name {
	font-size: 22px;
}
.progress-values {
	width: 100%;
	display: inline-flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.progress-item {
	width: 24%;
	text-align: center;
}
.progress-value {
	font-size: 30px;
}