.hierarchy-item {
	border: 1px solid;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.side-nav {
	display: inline-flex;
	width: 100%;
}
.hierarchy {
	width: 25%;
	padding: 5px;
}
.questions {
	width: 40%;
}
.current {
	background-color: #d9d9f3;
}
.actions {
	display: inline-flex;
}
.item-name {
	font-size: 22px;
}
.progress-values {
	width: 100%;
	display: inline-flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.progress-item {
	width: 24%;
	text-align: center;
}
.progress-value {
	font-size: 30px;
}