.side-nav.pull-left
  .hierarchy.exams.pull-left
    - @exams.each do |exam|
      .hierarchy-item
        .item-name
          = link_to exam.name, exam_subjects_path(exam), remote: true, class: 'open-hierarchy', data: {target: 'subjects'}
        .actions
          = link_to 'random questions', random_questions_exams_path(item_type: 'exam', item_id: exam.id), remote: true, class: 'open-hierarchy', data: {target: 'questions'}
          = link_to 'show progress', progress_exams_path(item_type: 'exam', item_id: exam.id), remote: true, class: 'open-hierarchy', data: {target: 'progress-values'}
  .hierarchy.subjects.pull-left
  .hierarchy.topics.pull-left
  .hierarchy.chapters.pull-left
  .clearfix
.progress-values
.questions
.clearfix
